@import url("https://fonts.googleapis.com/css2?family=Satisfy&family=Source+Sans+Pro&display=swap");

@media only screen and (min-width: 320px) {
  #header {
    height: 100vh;
    width: auto;
    background-image: url("../assets/Esthetics-background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow-x: hidden;
    overflow-y: scroll;
  }

  #Logo {
    height: 15em;
    width: 15em;
  }

  #title {
    font-family: "Satisfy", cursive;
    margin-bottom: 2em;
    color: #a8fff6;
    font-size: 2em;
  }
}

@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 992px) {
}

@media only screen and (min-width: 1200px) {
}
