@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Fjalla+One&display=swap');

@media only screen and (min-width: 320px) {
  #header {
    height: 60vh;
    width: auto;
    background-image: url("../assets/apBG.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #f1bcc3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    overflow-y: scroll;
  }

  #Logo {
    height: 15em;
    width: 15em;
  }

  #bio {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 17em;
    width: 17em;
    background-color: #eee3e1;
    border-radius: 10em;
  }
}

@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 992px) {
}

@media only screen and (min-width: 1200px) {
}
