@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Fjalla+One&display=swap");

@media only screen and (min-width: 320px) {
  #navbar {
    height: auto;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .navTitles {
    
  }
}

@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 992px) {
}

@media only screen and (min-width: 1200px) {
}
