@import url('https://fonts.googleapis.com/css2?family=Abel&family=Cabin:ital,wght@1,700&family=Libre+Baskerville:ital@1&display=swap');

@media only screen and (min-width: 320px) {
  #services {
    height: auto;
    width: 100%;
    background-color: #0b0a10;
    padding-bottom: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .serviceAccordions {
    margin: 0em;
    width: 80%;
    border-radius: 1em;
  }

  .serviceTitles {
    color: #feb5a9;
    font-family: 'Libre Baskerville', serif;
  }

  .serviceBios {
    font-family: "Abel", sans-serif;
    color: #feb5a9;
    font-size: 1.25em;
  }
}

@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 992px) {
}

@media only screen and (min-width: 1200px) {
}
